# Git
.git
.gitignore
.gitattributes

# Node
node_modules
npm-debug.log
.npm
dist
build

# Maven
target/
.m2/
*.log

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# CI/CD
.github

# Env
.env
.env.local
.env.*.local
